import 'package:get/get.dart';

import 'package:{{package_name}}/app/core/base/base_controller.dart';

class {{class_name}}Controller extends BaseController {
  // Reactive state for the view. Replace with your feature's fields and
  // override onInit() to start loading data from a data/remote source.
  final title = '{{class_name}}'.obs;
}
