import 'package:flutter/material.dart';
import 'package:get/get.dart';

import 'package:{{package_name}}/app/core/base/base_view.dart';
import '../controllers/{{snake_name}}_controller.dart';

class {{class_name}}View extends BaseView<{{class_name}}Controller> {
  const {{class_name}}View({super.key});

  @override
  PreferredSizeWidget? appBar(BuildContext context) {
    return AppBar(title: Obx(() => Text(controller.title.value)));
  }

  @override
  Widget body(BuildContext context) {
    return const Center(child: Text('{{class_name}}View is working'));
  }
}
