{
  "app_name": "{{app_title}}",
  "hello": "مرحباً!",
  "loading": "جاري التحميل",
  "retry": "اعادة المحاولة",
  "change_theme": "تغيير الثيم",
  "change_language": "تغيير اللغة",
  "counter_label": "تم الضغط على الزر @count مرات",
  "no_internet_connection": "لا يوجد إتصال بالإنترنت",
  "server_not_responding": "لا يوجد إستجابة من السيرفر",
  "something_went_wrong": "حدث خطأ غير متوقع",
  "unexpected_error": "خطأ غير متوقع",
  "url_not_found": "الرابط غير موجود",
  "server_error": "مشكلة من السيرفر",
  "unauthorized": "غير مصرح لك",
  "request_cancelled": "تم إلغاء الطلب"
}
