{
  "app_name": "{{app_title}}",
  "hello": "Hello!",
  "loading": "Loading",
  "retry": "Retry",
  "change_theme": "Change theme",
  "change_language": "Change language",
  "counter_label": "Button tapped @count times",
  "no_internet_connection": "No internet connection",
  "server_not_responding": "Server is not responding",
  "something_went_wrong": "Something went wrong",
  "unexpected_error": "Unexpected error",
  "url_not_found": "Route not found",
  "server_error": "Server error",
  "unauthorized": "You are not authorized",
  "request_cancelled": "Request cancelled"
}
